@tailwind base;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("src/assets/fonts/Poppins-Black.tff") format(truetype);
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Poppins";
    src: url("src/assets/fonts/Poppins-BlackItalic.tff") format(truetype);
    font-weight: 900;
    font-style: italic;
  }

  body {
    @apply bg-[#f8f8f8];
  }
}
